.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
  margin: auto;
}

.body{
  background-color: #FBEEE4;
}

.box {
  border: 1px solid black;
  font-size: 4em;
  text-align: center;
  /* Shows the lines in the CSS grid */
}

.userName{
  text-align: center;
  font-size: 70px;
}

.gameStatus{
  text-align: center;
  font-size: 80px;
}

.button{
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.list{
  text-align: center;
}