.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
  margin: auto;
  left:0;
  float:left;
}

.spec{
  text-align:center;
  float:left;
  width:300px;
  height:300px;

}
.leaderboard{
  float:right;
  width:300px;
  height:300px;
}




.container{
  margin:auto;
  grid-template-columns: repeat(3, 1fr); 
  height:900px;
  width:900px;
}

.body{
  background-color: #E6DCC7;
}

.box {
  border: 1px solid black;
  font-size: 4em;
  text-align: center;
  /* Shows the lines in the CSS grid */
}

.userName{
  text-align: center;
  font-size: 70px;
}

.gameStatus{
  text-align: center;
  font-size: 80px;
}

.button{
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.leader{
  padding-top:100px;
}



