table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
td {
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.specialUser {
  color: #228b22;
  font-weight: bold;
}
